$light-blue: #2393d1;
$border-blue: #2393d1;
$dark-blue: #1a2352;
$border-magenta: #cf3b7b;
@keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

//anim svg
@keyframes dash {
    to {
        stroke-dasharray: 223;
        stroke-dashoffset: 892;
    }
} //anim svg
@keyframes dash {
    to {
        stroke-dasharray: 223;
        stroke-dashoffset: 892;
    }
}

#infogr-wrap-090223-desktop {
    margin: 0 auto 36px auto;
    position: relative;
    display: flex;
    width: 100%;
    max-width: 660px;
    border-radius: 18px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    animation: 0.5s ease-out 0s 1 fadeIn;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    opacity: 0;
    @media (min-width: 767px) {
        max-width: 950px;
    }
    @media (min-width: 1280px) {
        max-width: 1280px;
    }
    h2 {
        clear: both;
        font-family: Helvetica, Sans-Serif;
        font-weight: bold;
        color: $dark-blue;
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
        width: 100%;
        display: block;
        margin: 36px auto 96px auto;
        position: relative;
        animation: 0.5s ease-out 0s 1 fadeIn;
        animation-delay: 0.6s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    .thumb {
        border: 2px solid $border-blue;
        border-radius: 6px;
        width: 50%;
        height: 202px;
        position: relative;
        margin: 20px;
        @media (min-width: 480px) {
            margin-top: 20px;
            width: 212px;
        }
        @media (min-width: 940px) {
            margin-top: 20px;
        }
        @media (min-width: 1216px) {
            margin-top: 0;
        }
        &:after {
            content: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 34.823 34.689' style='enable-background:new 0 0 34.823 34.689;' xml:space='preserve'%3E%3Cg%3E%3Cpolyline style='fill:%235EBBE5;' points='17.598,34.689 34.823,16.304 17.598,0.033 '/%3E%3Crect style='fill:%235EBBE5;' width='17.593' height='34.681'/%3E%3C/g%3E%3C/svg%3E%0A");
            color: #cf3b7b;
            position: absolute;
            right: -36px;
            top: 97px;
            width: 26px;
            height: 26px;
        }
        &:last-child {
            &:after {
                content: "";
                color: #cf3b7b;
                position: absolute;
                right: -36px;
                top: 97px;
                width: 26px;
                height: 26px;
            }
        }
        h3 {
            z-index: 1;
            line-height: 30px;
            background-color: white;
            font-family: Helvetica, Sans-Serif;
            font-weight: bold;
            color: $border-blue;
            font-size: 15px;
            text-align: center;
            border: 2px solid $border-magenta;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            position: absolute;
            left: 90px;
            top: -36px;
        }
        h2 {
            clear: both;
            font-family: Helvetica, Sans-Serif;
            font-weight: bold;
            color: $dark-blue;
            text-align: center;
            font-size: 15px;
            text-transform: uppercase;
            width: 100%;
            display: block;
            margin: 32px auto 0 auto;
            position: relative;
            animation: 0.5s ease-out 0s 1 fadeIn;
            animation-delay: 0.6s;
            animation-fill-mode: forwards;
            opacity: 0;
        }
        p {
            font-family: Helvetica, Sans-Serif;
            color: $dark-blue;
            font-size: 12px;
            text-align: center;
            margin: 11px 0px 5px 0px;
        }
        svg {
            display: block;
            margin: 33px auto 0 auto;
            transition: all 0.2s ease-in;
        }
        &.svg1 {
            animation: 0.3s ease-out 0s 1 slideInFromTop;
            animation-delay: 1s;
            animation-fill-mode: forwards;
            opacity: 0;
            svg {
                height: 52px;
                width: 52px;
                .path {
                    stroke-dasharray: 198;
                    stroke-dashoffset: 592;
                    animation: dash 0.8s linear;
                    animation-fill-mode: forwards;
                    animation-delay: 1s;
                }
            }
        }
        &.svg2 {
            animation: 0.3s ease-out 0s 1 slideInFromTop;
            animation-delay: 2s;
            animation-fill-mode: forwards;
            opacity: 0;
            svg {
                height: 53px;
                width: 54px;
                .path {
                    stroke-dasharray: 178;
                    stroke-dashoffset: 592;
                    animation: dash 0.8s linear;
                    animation-fill-mode: forwards;
                    animation-delay: 2s;
                }
            }
        }
        &.svg3 {
            animation: 0.3s ease-out 0s 1 slideInFromTop;
            animation-delay: 3s;
            animation-fill-mode: forwards;
            opacity: 0;
            svg {
                height: 52px;
                width: 52px;
                .path {
                    stroke-dasharray: 178;
                    stroke-dashoffset: 592;
                    animation: dash 0.8s linear;
                    animation-fill-mode: forwards;
                    animation-delay: 3s;
                }
            }
        }
        &.svg4 {
            animation: 0.3s ease-out 0s 1 slideInFromTop;
            animation-delay: 4s;
            animation-fill-mode: forwards;
            opacity: 0;
            svg {
                height: 53px;
                width: 54px;
                .path {
                    stroke-dasharray: 178;
                    stroke-dashoffset: 592;
                    animation: dash 0.8s linear;
                    animation-fill-mode: forwards;
                    animation-delay: 4s;
                }
            }
        }
        &.svg5 {
            animation: 0.3s ease-out 0s 1 slideInFromTop;
            animation-delay: 5s;
            animation-fill-mode: forwards;
            opacity: 0;
            svg {
                height: 52px;
                width: 46px;
                .path {
                    stroke-dasharray: 197;
                    stroke-dashoffset: 592;
                    animation: dash 0.8s linear;
                    animation-fill-mode: forwards;
                    animation-delay: 5s;
                }
            }
        }
    }
}